.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.category-cards .card {
  background-color: var(--background-secondary-color);
  margin-bottom: 24px;
  height: 220px;
  width: 312px;
  border-radius: 16px;
}
.category-cards .card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.category-cards .card img {
  margin-bottom: 24px;
  display: block;
}

.category-cards .card h3 {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .category-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .category .section-title {
    margin-bottom: 64px;
  }

  .category-cards .card {
    width: 420px;
  }
}

@media screen and (min-width: 1440px) {
  .category-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .category-cards {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}
