.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.category .card {
  background-color: var(--background-secondary-color);
  margin-bottom: 24px;
  height: 220px;
}
.category .card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.category .card img {
  margin-bottom: 24px;
  display: block;
}

.category .card h3 {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .category-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .category .card {
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .category-cards {
    width: 1250px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
}
