header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  height: 68px;
  width: 64px;
  display: inline-block;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.navigation-menu {
  margin-top: 24px;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0px;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
