.hero-img,
.hero-botton .hero-img {
  height: 400px;
  width: 100%;
}

.botton-hero {
  width: 100%;
  margin: 0;
}

.hero .hero-img {
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}
.botton-hero .hero-img {
  background: url(../img/bg-botton-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .botton-hero .hero-img {
    height: 400px;
    background: url(../img/bg-botton-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
  }
  .botton-hero .hero-img {
    height: 688px;
    background: url(../img/bg-botton-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  header h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  header h2 {
    padding: 88px 160px;
  }
  .hero-img {
    background-size: cover;
  }
}
