:root{
  --background-primary-color: #FFFFFF;
  --background-secondary-color: #F5F5F5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8F0101;
  --button-primary-color: #B81515;

  --text-primary-color: #222222;
  --text-secondary-color: #FFFFFF;
}
 
body, img, h1, fieldset, legend, label, input, select, textarea, button{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  color: var(--button-primary-color)
}

